@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
  font-family: 'avenir-next';
  src: url('/public/assets/fonts/avenir-next-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  font-family: 'avenir-next', sans-serif !important;

  padding: 0;

  /* scrollbar-width: none;     */
  -ms-overflow-style: none;
}




@layer{
  h1, h2, h3,h4,h5,h6, a, span, p, button, label{
  font-family: 'avenir-next', sans-serif !important;
}

input{
  font-family: 'avenir-next', sans-serif !important;
}
section, div{
  font-family: 'avenir-next', sans-serif !important;
}
  .metric-card {
  position: relative;
  border: 2px solid transparent;
  --u-size: 20px;
  clip-path: polygon(
    0% var(--u-size),
    var(--u-size) 0%,
    calc(100% - var(--u-size)) 0%,
    100% var(--u-size),
    100% calc(100% - var(--u-size)),
    calc(100% - var(--u-size)) 100%,
    var(--u-size) 100%,
    0% calc(100% - var(--u-size))
  );
background: linear-gradient(#1f2937, #111827);
  border-image: linear-gradient(to right, #3A86FF, #3A86FF) 1; 
}
/* Metrics 2 */
/* Flip card essentials */
.perspective {
  perspective: 1000px;
}
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}


  .logo {
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 3px;
  text-wrap: nowrap;
  text-decoration: none;
}
}